{% extends "layouts/base-demo.html" %}
{% load my_templatetag %}
{% load static %}

{% block title %} Listar {% endblock %} 

{% block css %}
<style>
    td{
      padding: 3px 5px !important;
    }

  .contenedor{
    padding: 20px;;
  }

</style>

{% endblock css %}

{% block breadcrumb %}
<div class="nav-content px5 red lighten-1">
  <a href="{% url 'sistema:home-index' %}" class="breadcrumb">Home</a>
  <a href="#!" class="breadcrumb">Caja</a>
  <a href="#!" class="breadcrumb">Editar</a>
</div>
{% endblock breadcrumb %}


{% block content %}

<div class="row valign-wrapper">
    <div class="col s12 m12 l4 ">
        <form  id="form_search" >
          <div class="input-field">
            <input type="text" id="search" class="validate" placeholder="Buscar por persona o documento" name="q" value="{{q}}">
            <label for="icon_prefix">Buscar</label>
            <i class="material-icons prefix green-text">search</i> 
          </div>
        </form>
    </div>
    <div class=" col s12 m12 l5 center">
      
      <div class="input-field ">
        <form action="{% url 'facturacion:comprobante-excel' %}" id="form-descarga-excel"  onsubmit="descargar_excel(event)">     
          <input type="month" name="periodo" required="" id="id_periodo">
          <button class="btn-small waves-effect waves-light blue" type="submit" name="action" value="error" id="btn-send">EXCEL
            <i class="material-icons right">cloud_download</i>
          </button>
        </form> 
      </div>
      
    </div> 
    <div class=" col s12 m12 l3 ">
      <a  class="btn-small color-primary right" href="{% url 'tesoreria:tesoreria-caja-add' %}"><i class="material-icons left">add</i>Nueva Caja</a>
    </div> 
</div>
<div class="divider"></div>

<table id="table_idf" class="highlight responsive-table">
    <thead>
      <tr>
          <th>Item</th>
          <th>Caja</th>
          <th>Agencia</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Saldo</th>
          <th>Cajeros</th>
          <th colspan="2" class="center">Acción</th>
      </tr>
    </thead>

    <tbody>
      {% for item in object_list %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{item.nombreCaja }}</td>
        <td>{{item.agencia}}</td>
        <td>{{item.montoEntrada}}</td>
        <td>{{item.montoSalida}}</td>
        <td>{{item.saldo }}</td>
        <td>{{item.saldo.cajeros.all }}</td>
        <td>           
          <a href="{% url 'tesoreria:tesoreria-caja-edit' item.id %}" class="collection-item "><i class="material-icons right color-primary-text">edit</i></a>
      </td>
        
      </tr>
      {% endfor %}
    </tbody>
</table>
  <div class="container center">
    {% include 'includes/paginator.html' %}
  </div>

  {% endblock content %}

  
  {% block js %}

  {% if messages %}
  {% for m in messages %}
      <script>
          visibleAlert(
              title="",
              text="{{m}}",
              icon="{{m.tags}}"        
          )
      </script>
  {% endfor %}
   
{% endif %}

      <script>
        
        $("#btn-search").click(function() {
          var q = $("#search").val()
          url = $(this).attr("href");
          window.open(url+"?q="+q,'_self');
          return false;
        })
      </script>

    <script src="{% static 'js/apps/facturacion/enviar-ose.js' %}"></script>

  {% endblock js %}
      