{% extends "layouts/base-demo.html" %}
{% load my_templatetag %}

{% block title %} Listar {% endblock %} 

{% block css %}
<style>
    td{
      padding: 3px 5px !important;
    }

  .contenedor{
    padding: 20px;;
  }

</style>

{% endblock css %}

{% block breadcrumb %}
<div class="nav-content px5 red lighten-1">
  <a href="#" class="breadcrumb">Home</a>
  <a href="{% url 'persona:list' %}" class="breadcrumb">Empresa</a>
  <a href="#!" class="breadcrumb">Conductor</a>
  <a href="#!" class="breadcrumb">Lista</a>

</div>
{% endblock breadcrumb %}


{% block content %}

<div class="row valign-wrapper">
    <div class="input-field col s12 m12 l6 block">
      <div class="row">
        <form  id="form_search" >   
          <div class="col s8">
            <input id="search" placeholder="Buscar por persona o documento" name="q" value="{{q}}">

          </div>
          <div class="col s4">
            <a id="btn-search" class="btn color-primary" href="{% url 'persona:list'  %}"><i class="material-icons left">search</i>Buscar</a>
          </div>
        </form>
      </div>
    
    </div>
  
    <div class="input-field col s12 m12 l6">
      <div class="right">
      <a  class="btn color-primary" href="{% url 'empresa:conductor-add'  %}"><i class="material-icons left">add</i>Nuevo Conductor</a>
    </div>
    </div>
  
</div>
<div class="divider"></div>

<table id="table_idf" class="highlight responsive-table">
    <thead>
      <tr>
          <th>Item</th>
          <th>Conductor</th>
          <th>Dni</th>
          <th>Licencia</th>
          <th>Clase</th>
          <th>Categoría</th>
          <th>Fech.Exp</th>
          <th>Fech.Reva</th>
          <th>Activo</th>
          <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      {% for conductor in entity %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{conductor.chofer}}</td>
        <td>{{conductor.chofer.numDoc}}</td>
        <td>{{conductor.numLicencia | nonep}}</td>
        <td>{{conductor.clase | nonep}}</td>
        <td>{{conductor.categoria | nonep}}</td>
        <td>{{conductor.fechaExpedicion | nonep}}</td>
        <td>{{conductor.fechaRevalidacion | nonep}}</td>
        <td>{{conductor.activo | estado}}</td>
        <td>
          
            <a href="{% url 'empresa:conductor-update' conductor.pk %}" class="collection-item"><i class="material-icons left">edit</i></a>
            <!-- <a href="#!" class="collection-item "><i class="material-icons left color-primary-text">delete</i></a>-->
          
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
  <div class="container center">
    {% include 'includes/paginator-vista-clases.html' %}
  </div>

  {% endblock content %}

  
  {% block js %}

      {% if messages %}
      {% for m in messages %}
          <script>
              visibleAlert(
                  title="",
                  text="{{m}}",
                  icon="{{m.tags}}"        
              )
          </script>
      {% endfor %}
      {% endif %}

      <script>
        
        $("#btn-search").click(function() {
          var q = $("#search").val()
          url = $(this).attr("href");
          window.open(url+"?q="+q,'_self');
          return false;
        })
      </script>

      <script>
        $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
      </script>

  {% endblock js %}
      