{% load my_templatetag %}
<style>
    #table-pasajeros{
      border-bottom: rgb(87, 97, 180) 1px solid;
    }
   
    #table-pasajeros tbody tr {
      padding-top: 3px;
    }
    th{
      text-align: left;
    }
    #table_manifiesto{
        border: 1px solid black;
        padding-left: 0.5em;
        
    }
    table{
        
        padding-top: 0.3em;
    }
    th{
        background-color: #e3e3e3;
    }
    #table_manifiesto th{        
        width: 15%;
    }
    h1{
      font-size: 45px;
      font-family: Roboto;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      text-decoration: underline;
      letter-spacing: 6px;
      color: #4416c4;
      padding: 0px;
      margin-bottom: -20px;
      text-align: center;
     
    }
    .encabezado{
      background-color: #e3e3e3;
    }
  
  h2 {
      text-align: center;
      padding: 0px;
      margin-top: -100px;
  }
  h3 {
      text-align: center;
      font-size: 15px;
  }
  </style>
  <div class="encabezado">
  <h1>MODA TOURS</h1>
  <h2>
    <span>El Encanto de Viajar</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="color: red;">RUC:20393810660</span>
  </h2>
  </div>
  <h3><span>GUÍA DE ENVÍO </span> &nbsp;<span style="color: red;">N°.000{{encomienda.numDocumento}}</span></h3>
  
    <table id="table_manifiesto" class="" style="width: 8px !important;">
        <thead >
            <tr>
                <th>ORIGEN:</th>
                <td>{{encomienda.agenciaOrigen}}</td>
                <th>REMITENTE:</th>
                <td>{{encomienda.remite}}</td>
            </tr>
            <tr>
                <th>DESTINO:</th>
                <td>{{encomienda.agenciaDestino}}</td>
                <th>CONSIGNADO:</th>
                <td>{{encomienda.consignado}}</td>
            </tr>
            <tr>
                {% if encomienda.aDomicilio%}
                <th>DIRECCION:</th>
                <td>{{encomienda.domicilio}}</td>
                {% else %}
                    <th>TIPO ENTREGA:</th>
                    <td>AGENCIA</td>
                {% endif %}

                {% if encomienda.esContraEntrega%}
                    <th>PAGO:</th>
                    <td>CONTRA ENTREGA</td>
                {% else %}
                    <th>PAGO:</th>
                    <td> EN EFECTIVO</td>
                {% endif %}
            </tr>
            <tr>
                <th>TELÉFONO:</th>
                <td>{{encomienda.numeroContacto}}</td>
                <th>FECHA:</th>
                <td>{{encomienda.venta.create}}</td>
            </tr>
        </thead>
    </table>
  
  
  <br>
  <br>
  <table id="detalle">
    <thead>
        <tr>
            <th class="cantidad">CANT.</th>
            <th class="producto">DESCRIPCIÓN</th>
            <th class="pu">P.U</th>
            <th class="importep">IMPORTE</th>
        </tr>
    </thead>
    <tbody>
        {% for item in encomienda.venta.detallemov_set.all %}
            <tr >
                <td>{{item.cantidad}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.valorUnitario}}</td>
                <td class="centrado">{{item.subTotal}}</td>
            </tr>
        {% endfor %}
            
        
        <tr style="padding-top: 1em;">
            <td>TOTAL</td>
            <td></td>
            <td></td>
            <td class="centrado">S/. {{total}}</td>
        </tr>
    </tbody>
</table>
  <hr>